@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Payment Successfully</h1>
            Order Number is : @Model <br /> <br />
        <img src="~/images/products/1f33fe6d-8d50-463b-92ef-6bba13b39462.jpg" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
            Your payment has been successfull! 
        <br />
        <a asp-area="admin" asp-controller="Order" asp-action="Details" asp-route-orderId="@Model" class="btn btn-primary">Back to order details</a>
    </div>
</div>